<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricciliao.bsm.mapper.dao.ItemInfoMapper">
    <!--create item -->
    <insert id="createItem" parameterType="java.util.Map">
        insert into item_info(ITEM_GUID, USER_ID, ITEM_NAME, ITEM_PATH, ITEM_TYPE, ITEM_PASSWORD, ITEM_CREATE_DATE,
        ITEM_LAST_MODIFIED_DATE, ITEM_ANNOTATION, STATUS)
        VALUE(#{itemGuid}, #{userId}, #{itemName}, #{itemPath}, #{itemType},
        #{itemPassword},#{itemCreateDate},#{itemLastModifiedDate}, #{itemAnnotation}, #{status})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>

    <!--update item -->
    <update id="updateItem" parameterType="itemInfo">
        update item_info set
        <if test="itemName != null">ITEM_NAME = #{itemName},</if>
        <if test="itemType != null">ITEM_TYPE = #{itemType},</if>
        <if test="itemPassword != null">ITEM_PASSWORD = #{itemPassword},</if>
        <if test="itemAnnotation != null">itemAnnotation = #{itemAnnotation},</if>
        <if test="status != null">STATUS = #{status},</if>
        <if test="itemLastModifiedDate != null">ITEM_LAST_MODIFIED_DATE = #{itemLastModifiedDate} </if>
        where ITEM_GUID = #{itemGuid}
    </update>

    <!--get item -->
    <select id="getItemByGuid" parameterType="java.lang.String" resultType="itemInfo">
        select * from item_info where ITEM_GUID = #{itemGuid}
    </select>

    <!--get item -->
    <select id="getItemListForIndex" resultType="itemInfo">
        select * from item_info
    </select>
</mapper>