<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title></title>

    <!--import CSS-->
    <link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../fontAwesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../markdown/css/editormd.css">
    <link type="text/css" rel="stylesheet" href="../markdown/lib/codemirror/codemirror.min.css">
    <link type="text/css" rel="stylesheet" href="../markdown/lib/codemirror/addon/dialog/dialog.css">
    <link type="text/css" rel="stylesheet" href="../markdown/lib/codemirror/addon/search/matchesonscrollbar.css">


    <!--import JavaScript-->
    <script type="text/javascript" src="../bsm/js/common/contants.js"></script>
    <script type="text/javascript" src="../bsm/js/common/url.js"></script>
    <script type="text/javascript" src="../JQuery/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../JQuery/jquery.i18n.properties-1.0.9.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../bsm/js/common/common.js"></script>
    <script type="text/javascript" src="../bsm/js/main.js"></script>
    <script type="text/javascript" src="../markdown/editormd.js"></script>

    <script th:inline="javascript">
        (function () {
            baseInit();
            $('title').text(commonFunc.replaceI18n($.i18n.prop('bsm-browser-title'), [[${message}]]));


        }(jQuery))
    </script>
</head>
<body>
<div id="layout" class="editor">
    <div id="test-editormd">
        <textarea></textarea>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var testEditor;
        testEditor = editormd("test-editormd", {
            placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "markdown/lib/",  //你的path路径（原资源文件中lib包在我们项目中所放的位置）
            emoji: true,
            imageUpload    : true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : BEU_Md_UpLoadImg
        });
    })
</script>
</body>
</html>