<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title></title>

    <!--import CSS-->
    <link type="text/css" rel="stylesheet" href="../css/bsm/main.css">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/fontAwesome/css/font-awesome.css">

    <!--import JavaScript-->
    <script type="text/javascript" src="../js/bsm/common/contants.js"></script>
    <script type="text/javascript" src="../js/bsm/common/url.js"></script>
    <script type="text/javascript" src="../js/JQuery/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../js/JQuery/jquery.i18n.properties-1.0.9.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bsm/common/common.js"></script>
    <script type="text/javascript" src="../js/bsm/main.js"></script>

    <script th:inline="javascript">
        (function () {
            baseInit();
            $('title').text(commonFunc.replaceI18n($.i18n.prop('bsm-browser-title'), [[${message}]]));

        }(jQuery))
    </script>

</head>
<body>

</body>
</html>