<!--import CSS-->
<link type="text/css" rel="stylesheet" href="../mCustomScrollbar/css/jquery.mCustomScrollbar.css">
<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="../fontAwesome/css/font-awesome.css">

<!--import JavaScript-->
<script type="text/javascript" src="../JQuery/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../bsm/js/common/contants.js"></script>
<script type="text/javascript" src="../bsm/js/common/url.js"></script>
<script type="text/javascript" src="../JQuery/jquery.i18n.properties-1.0.9.js"></script>
<script type="text/javascript" src="../bootstrap/js/popper.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../mCustomScrollbar/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../mCustomScrollbar/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../bsm/js/common/common.js"></script>
<script type="text/javascript" src="../bsm/js/main.js"></script>