<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../bsmTemplates/import.html" rel="import" type="text/html"/>

    <style>

        .user-logo-container .user-logo {
            border: 3px solid gold;
            width: 60px;
            height: 60px;
            position: fixed;
            bottom: 2.5rem;
            right: 1rem;
            cursor: pointer;
            overflow: hidden;
        }

        .user-logo-container .dropdown-menu {
            margin-bottom: 0.5rem;
        }

        .user-logo img {
            width: 100%;
        }

        #top-navbar #navbarSupportedContent .searchCondition .input-group input[type=text] {
            width: 260px;
        }

        #top-navbar #navbarSupportedContent .navbar-nav .dropdown a {
            cursor: pointer;
        }

        body {
            font-size: 15px;
        }

        #top-navbar #navbarSupportedContent .nav-left-links .nav-item {
            cursor: pointer;
        }

        #top-navbar #navbarSupportedContent .nav-left-links .bsm-icon-link a {
            display: inline;
        }

        #top-navbar #navbarSupportedContent .nav-left-links .bsm-icon-link span {
            padding-right: 0.25rem;
        }


    </style>

</head>
<body onload="indexInit()">

<nav id="top-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img width="40px" src="../bsm/pic/svg/logo.svg">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{userAgreement}" onclick="demo()"></a>
                <!--<a class="nav-link" href="#">Home</a>-->
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-5 nav-left-links">
            <li class="nav-item bsm-icon-link bsm-create-blog" data-i18n-attr="title" data-i18n-input="bsm-create-blog-title">
                <span class="input-group-addon glyphicon glyphicon-leaf"></span>
                <a data-i18n="bsm-create-blog"></a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0 searchCondition">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary searchLabel">Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item">Separated link</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            </div>
        </div>

    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <!--        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
    </ol>
    <div class="carousel-inner" style="height: 450px">
        <div class="carousel-item active" style="height: inherit;background: gray">
            <img class="d-block" src="../bsm/pic/svg/loading_A.svg" alt="First slide"
                 style="margin: 0 auto;height: inherit">
        </div>
        <!--        <div class="carousel-item" style="height: inherit;background: gray">
                    <img class="d-block w-25" src="../bsm/pic/svg/loading_A.svg" alt="Second slide">
                </div>
                <div class="carousel-item" style="height: inherit;background: gray">
                    <img class="d-block w-25" src="../bsm/pic/svg/loading_A.svg" alt="Third slide">
                </div>-->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 pt-3 pb-3" style="background: #0c5460">

        </div>

        <div class="col-8">
            <div class="card-deck pt-3 pb-3">
                <div class="card">
                    <img class="card-img-top" src="../bsm/pic/svg/loading_A.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../bsm/pic/svg/loading_A.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../bsm/pic/svg/loading_A.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../bsm/pic/svg/loading_A.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 pt-3 pb-3" style="background: #0c5460"></div>
    </div>
</div>

<div class="dropup user-logo-container">
    <div class="img-circle user-logo dropdown-toggle" data-toggle="dropdown">
        <img src="../bsm/pic/user.jpg">
    </div>
    <div class="dropdown-menu">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
    </div>
</div>

<script th:inline="javascript">
    function demo() {
        var username = [[#{userAgreement}]];
        console.log(username);
    }
</script>

<script>

    function indexInit() {

        $('#carouselExampleIndicators').animate({
            marginTop: $('#top-navbar').outerHeight() + 'px'
        }, 600);

        $('.user-logo-container').on({
            mouseover: function () {
                $(this || '.user-logo img').click();
            },
            mouseout: function () {
                $(this || '.user-logo img').click();
            }
        });

        $('#top-navbar #navbarSupportedContent .searchCondition .input-group .input-group-prepend .dropdown-menu .dropdown-item').on({
            click: function () {
                $('#top-navbar #navbarSupportedContent .searchCondition .input-group .input-group-prepend .searchLabel').text(this.innerText);
            }
        });

        $('#top-navbar #navbarSupportedContent .nav-left-links .bsm-create-blog').on({
            mouseover: function () {
                $(this).css('color', 'red');
            },
            mouseout: function () {
                $(this).css('color', '');
            },
            click: function () {
                commonFunc.newFormJump(BEU_CreateBlog);
            }
        });
        commonFunc.loadProperties();
    }

</script>

</body>
</html>